.nkh-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: blue;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}